.main-box:nth-of-type(2) {
  background-color: rgba(255, 255, 255, 0.7);
  overflow-y: hidden;
  position: relative;
}

.music-box {
  padding-left: 20px;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow-y: hidden;
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
}
.music-box:hover {
  overflow-y: scroll;
}

.music-box::-webkit-scrollbar {
  width: 10px;
}

.music-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(119, 159, 233, 0.4);
}

.music-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  margin-bottom: 30px;
  padding-top: 20px;
  box-sizing: border-box;
  border-radius: 30px;
}
.music-list:hover,
.music-list:focus {
  box-shadow: 0 0 40px -10px black;
}
.music-list__cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: skyblue;
}
.music-list__info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.music-list__info span:first-child {
  font-size: 18px;
  opacity: 0.7;
}
.music-list__info span:nth-of-type(2) {
  opacity: 0.6;
}

.play-box {
  position: absolute;
  width: 90%;
  height: 70px;
  bottom: 10px;
  left: 17px;
  border-radius: 40px;
  background-color: white;
  display: flex;
  align-items: center;
}
.play-box__cover {
  background-color: grey;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
}
.play-box__info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  width: 36%;
  line-height: 20px;
}
.play-box__bar {
  position: absolute;
  padding-right: 3px;
  right: 0;
  display: flex;
  align-items: center;
}
.play-box__bar span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
  color: rgba(0, 0, 0, 0.7);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 10px -1px plum;
  position: relative;
}
.play-box__bar span:hover {
  box-shadow: inset 0 0 10px -1px purple;
}
