.side-bar {
  width: 200px;
  height: 100%;
  background-color: rgba(0, 33, 65, 0.9);
  position: relative;
  border-bottom-left-radius: 30px;
  box-shadow: inset -5px 0 30px -10px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 20px;
}

.side-bar a {
  color: white;
}

.side-bar a i {
  margin-right: 3px;
}

.backward {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.backward i {
  color: rgba(255, 255, 255, 0.7);
}
