.title-bar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 85px;
  box-shadow: 0 3px 30px -20px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  background-color: rgb(245, 245, 245);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title-bar__title {
  padding-left: 30px;
  font-size: 40px;
  font-weight: 300;
}

.title-bar__weather {
  width: 18%;
  font-size: 25px;
  font-weight: 300;
  opacity: 0.7;
}

.title-bar__icons {
  margin-right: 30px;
}

.title-bar__icons span {
  margin-left: 40px;
  color: rgba(0, 0, 0, 0.5);
}
