.small-box {
  width: 90%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(197, 197, 197, 0.568);
  box-sizing: border-box;
}

.todo__top {
  width: 100%;
  box-sizing: border-box;
  height: 10px;
  padding: 20px 20px;
}
.todo__top i {
  color: #106590;
  opacity: 0.7;
}
.todo__top span {
  display: inline-block;
  width: 80%;
  padding-left: 3px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.6;
}
.todo__top i:last-child {
  opacity: 0.5;
}

.todo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 360px;
  padding: 10px 20px;
  position: relative;
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.todo-box__control-bar {
  display: flex;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.todo-box__control-bar > i {
  padding-right: 10px;
  opacity: 0.5;
}
.todo-box__control-bar span {
  display: inline-block;
  padding-right: 55%;
  font-weight: 800;
  opacity: 0.6;
}

.todo-box button {
  background: none;
  border: none;
  font-size: 20px;
  width: 35px;
  height: 35px;
  background-color: #106590;
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 8px -1px rgb(82, 82, 82);
  position: absolute;
  right: 30px;
  top: 13px;
}

.todo-box__form button {
  background: none;
  border: none;
  font-size: 20px;
  width: 35px;
  height: 35px;
  background-color: #106590;
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 8px -1px rgb(82, 82, 82);
  position: absolute;
  right: 75px;
  top: 13px;
}

.todo-box__form button:hover {
  box-shadow: inset 0 0px 20px -1px rgb(82, 82, 82);
}

.todo-box__form {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.4);
  padding-bottom: 2px;
  border-radius: 10px;
  margin-bottom: 7px;
}
.todo-box__form input {
  background: none;
  border: none;
  width: 80%;
  height: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 700;
}

.todo-box__form input:nth-child(2) {
  font-size: 14px;
  height: 25px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.todo-box__form input::placeholder {
  opacity: 0.6;
}

.todo-box__lists {
  width: 100%;
  /* height: 190px; */
  height: inherit;
  overflow-y: scroll;
}
.todo-box__lists::-webkit-scrollbar {
  display: none;
}
.todo-box__lists li {
  display: flex;
  width: inherit;
  align-items: center;
  margin-bottom: 7px;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px 15px;
  box-sizing: border-box;
}
.todo-box__lists li > span {
  color: rgb(199, 199, 199);
}
.todo-box__lists li > span:hover {
  color: rgb(97, 97, 97);
}
.yellow {
  color: #fae100;
}
.todo-box__lists div {
  margin-left: 10px;
  width: 80%;
}
.todo-box__lists div span {
  display: block;
  font-size: 17px;
  margin-bottom: 2px;
  font-weight: 500;
}
.todo-box__lists div span:nth-of-type(2) {
  font-size: 15px;
  opacity: 0.5;
  font-weight: 800;
}
