.todo-body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.todo-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.window-box {
  width: 80%;
  height: 85%;
  border-radius: 20px;
  box-shadow: 0 0 100px -50px black;
  position: relative;
  padding-top: 4%;
  box-sizing: border-box;
  display: flex;
}
