.todo-body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.todo-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.window-box {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 100px -50px black;
  position: relative;
  padding-top: 5%;
  box-sizing: border-box;
  display: flex;
}

.title-bar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 10%;
  box-shadow: 0 3px 30px -20px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-bar .title {
  padding-left: 30px;
  font-size: 40px;
  font-weight: 300;
}

.title-bar__icons {
  margin-right: 30px;
}

.title-bar__icons span {
  margin-left: 40px;
  color: rgba(0, 0, 0, 0.5);
}

.main-box {
  width: 25%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
